@font-face {
	font-family: 'MyriadProRegular';
	src:url('/fonts/MyriadPro-Regular.otf');
}

.results-back {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

.results-header {
	height: 72px;
	width: 100%;
}

.results-logo {
	background-repeat: no-repeat;
	width: 955px;
	height: 72px;
	float: left;
}

.results-tour-num {
	background-image: url(/themes/simple/images/tour.png);
	width: 98px;
	height: 53px;
	float: left;
	margin-top: 22px;
	font-size: 250%;
}

.results-table {
	width: 100%;
	color: black;
	border-top: 2px solid black;
	border-right: 2px solid black;
	font-family: MyriadProRegular;
}

.results-table td, .results-table th {
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
	height: 48px;
}

.results-table thead {
	background-color: white;
	font-size: 150%;
}

.results-table-answers {
	width: 50%;
}

.results-team-cell {
	width: 30%;
}

.results-table-one-answer {
	width: 36px;
	height: 48px;
	padding: 0;
}

.results-answer span.ok {
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	width: 100%;
	height: 100%;
}


.results-table td.results-team-cell {
	text-align: left;
	padding-left: 10px;
}

.results-team-city {
	color: black;
}

.results-tour-points, .results-points
{
	font-size: 35px;
}