@font-face {
	font-family: 'MyriadProRegular';
	src:url('/fonts/MyriadPro-Regular.otf');
}

.results-back {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: black;
}

.results-header {
	height: 72px;
	width: 100%;
}

.results-logo {
/*	background-image: url(/themes/chernozemfest2015/images/logo.png);*/
	background-repeat: no-repeat;
	width: 550px;
	height: 72px;
	float: left;
}

.results-tour-num {
	background-image: url(/themes/chernozemfest2015/images/tour.png);
	width: 98px;
	height: 53px;
	float: left;
	margin-top: 22px;
	font-size: 250%;
	color: red;
}

.results-table {
	width: 100%;
	color: white;
	border-top: 2px solid #100f29;
	border-right: 2px solid #100f29;
	font-family: MyriadProRegular;
}


.results-table td, .results-table th {
	border-left: 2px solid #100f29;
	border-bottom: 2px solid #100f29;
	text-align: center;
	height: 48px;
}

.results-table thead {
	background-color: #502f88;
	font-size: 150%;
}

.results-table-answers {
	width: 50%;
}

.results-team-cell {
	width: 30%;
        font-size: 20px;
}

.results-highlight {
    color: #ff6633;
}
.results-table-one-answer {
	width: 36px;
	height: 48px;
	padding: 0;
}

.results-answer span.ok {
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	width: 100%;
	height: 100%;
}

.results-table td.results-team-cell {
	text-align: left;
	padding-left: 10px;
}

.results-team-city {
	color: #7044ba;
    font-size: 80%;
}

.results-tour-points, .results-points
{
	font-size: 35px;
}


#countdown {
	font-size:40vw;
}

.cdContainer {
	text-align: center;
	background-color: #27235e;
	color: white;
	font-family: "Arial", monospace;
}

.red {
	color: #c7254e;
}