@font-face {
	font-family: 'MyriadProRegular';
	src:url('/fonts/MyriadPro-Regular.otf');
}

@font-face {
    font-family: 'DSNarrow';
    src: url('/fonts/DSNarrow.ttf') format('truetype');
}

.results-back {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: black;
}

.results-header {
	height: 72px;
	width: 100%;
	background-color: #728395;
}

.results-logo {
	background-image: url(/themes/studfest2015/images/logo.png);
	background-repeat: no-repeat;
	width: 500px;
	height: 72px;
	float: left;
}

.results-tour-num {
	/*background-image: url(/themes/studfest2015/images/tour.png);*/
	width: 98px;
	height: 53px;
	float: left;
	margin-top: 10px;
	font-size: 45px;
	color: white;
	//font-family: 'DSNarrow';
//	background-color: black;
}

.results-table {
	width: 100%;
	color: white;
	border-top: 2px solid #24292e;
	border-right: 2px solid #24292e;
	font-family: 'Tahoma';
	font-size: 0.9vw;
}

.results-table td, .results-table th {
	border-left: 2px solid #24292e;
	border-bottom: 2px solid #24292e;
	text-align: center;
	height: 48px;
	font-size: 1.5em;
	background-color: black;
}

.results-table thead {
	background-color: #728395;
}

.results-table-answers {
	width: 50%;
}

.results-team-cell {
	width: 30%;
}

.results-table-one-answer {
	width: 36px;
	height: 48px;
	padding: 0;
	//font-family: DSNarrow;
}

.results-answer span.ok {
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	width: 100%;
	height: 100%;
}

.results-table td.results-team-cell {
	text-align: left;
	padding-left: 10px;
}

.results-team-city {
	color: #cccccc;
}

.results-tour-points, .results-points
{
	font-size: 2vw;
}

.results-table-one-answer span img
{
	width: 4vw;
	height: 4vw;
}

#countdown {
	font-size:100vh;
}

.cdContainer {
	text-align: center;
	background-color: #245580;
	color: #2aabd2;
	font-family: "Arial", monospace;
}

.red {
	color: #c7254e;
}