.no-commited {
	color: red;
	font-weight: bold;
}

.photoanswer {
	display:inline-block;
	width:350px;
}

.photoanswer img {
	display:block;
	padding: 10px;
}

.right-answer {
	background-color: #CCFFCC;
}